[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ayaz Ali (ujjan)
[access "refs/for/refs/*"]
	read = group user/Ayaz Ali (ujjan)
	push = group user/Ayaz Ali (ujjan)
	label-Code-Review = -2..+2 group user/Ayaz Ali (ujjan)
	label-Verified = -1..+1 group user/Ayaz Ali (ujjan)
	rebase = group user/Ayaz Ali (ujjan)
	removeReviewer = group user/Ayaz Ali (ujjan)
	submit = group user/Ayaz Ali (ujjan)
[access "refs/heads/*"]
	read = group user/Ayaz Ali (ujjan)
	create = group user/Ayaz Ali (ujjan)
	push = +force group user/Ayaz Ali (ujjan)
	pushMerge = group user/Ayaz Ali (ujjan)
[access "refs/tags/*"]
	push = group user/Ayaz Ali (ujjan)
	push = +force group user/Ayaz Ali (ujjan)
